@use '../../src/scss/02-base/mixins' with ($image-base-path: '../../../src/images'
);

@use '../../src/scss/01-grid/responsive';

.block-team {
    margin-block: var(--section-spaceing);
    position: relative;

    &:has(.team-item:hover){
        .image-container-wrapper{
            opacity: 1;
        }
    }

    .team-wrapper {
        display: flex;
        flex-direction: column;
        // gap: 2.31rem;
        border-top: 1px solid var(--color-black);
        position: relative;
    }

    .team-images-container {
        display: none;

        @include responsive.respond-from(sm) {
            display: block;
            width: 23.375rem;
            height: 26.0255rem;
            overflow: hidden;
            pointer-events: none;
            z-index: 1;
            will-change: transform, opacity;
        }
    }

    .team-item {
        padding-block: 2.31rem;
        border-bottom: 1px solid var(--color-black);
        scroll-margin-top: 10vh;

        @include responsive.respond-from(sm) {
            position: relative;
            padding-left: 8.31rem;
            opacity: .3;
            transition: var(--transition);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1.5rem;
                height: 1.5rem;
                aspect-ratio: 1;
                background-color: var(--color-black);
                @include mixins.mask('star')
            }
        }

        .team-item-name {
            font-size: clamp(1.375rem, calc(0.391rem + 2.25vw), 2.5rem);
            line-height: 110%;

            @include responsive.respond-to(sm) {
                position: relative;
                padding-left: 2.5rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1.5rem;
                    height: 1.5rem;
                    aspect-ratio: 1;
                    background-color: var(--color-black);
                    @include mixins.mask('star')
                }

            }
        }

        .team-item-jobtitle {
            font-size: clamp(1rem, calc(0.891rem + 0.25vw), 1.125rem);
            /* min: 16px, max: 18px */
            line-height: 110%;
            margin-top: .75rem;

            @include responsive.respond-to(sm) {
                padding-left: 2.5rem;
                margin-top: .5rem;
            }
        }

        @include responsive.respond-from(sm) {
            will-change: opacity;

            .team-item-image {
                display: none;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    @include responsive.respond-to(sm) {
        .team-item {
            display: flex;
            flex-direction: column;
        }

        .team-item-image {
            order: -1;
            position: relative;
            padding-right: clamp(5rem, calc(-6.375rem + 50vw), 18rem);
            margin-bottom: 1.8rem;
            

            img {
                height: 18.57969rem;
                width: unset;
                aspect-ratio: 467 / 520;

            }
        }
    }

    .image-container-wrapper {
        position: absolute;
        grid-column-end: content;
        right: 0;
        top: 0;
        transform: translateY(-33.33333334%);
        z-index: 2;
        opacity: 0;
        transition: opacity var(--transition);
        pointer-events: none;

        .image-container {
            --_height: 26.0255rem;
            width: 23.375rem;
            height: var(--_height);
            overflow: hidden;

            .inner {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@keyframes team-blink {
  0%   { transform: scale(1); opacity: 0.3;}
  20%  { transform: scale(1.2); opacity: 1}
  40%  { transform: scale(1); opacity: 0.3;}
  100% { transform: scale(1); opacity: .3;}
}

.team-item.-blink {
  animation: team-blink 2s;
  z-index: 2;
}