@use '../../src/scss/02-base/mixins' with ($image-base-path: '../../../src/images');
@use '../../src/scss/01-grid/responsive';

.block-services {
    background-color: var(--color-secondary);
    padding-top: calc(var(--section-spaceing) * 0.5);
    padding-bottom: var(--section-spaceing);

    .intro {
        font-size: clamp(1.125rem, calc(0.797rem + 0.75vw), 1.5rem);

    }

    h2 {
        line-height: 90%;
        padding-top: 1.56rem;
        margin-top: 1.56rem;
        border-top: 1px solid var(--color-black);
        text-wrap: balance;
    }



    .arrow-wrapper {
        overflow: hidden;

        .arrow {
            width: clamp(11.875rem, calc(-12.953rem + 95vw), 56.25rem);
            /* min: 190px, max: 900px */
            ;
            height: 9.75rem;
            @include mixins.mask('pijl-simpel');
            transition: unset;
            background-color: #E0D697;
            margin-top: 5rem;
            margin-bottom: 2rem;

            @include responsive.respond-to(sm) {
                width: 100%;
                margin-block: 0rem;
            }
        }

    }

    .subtitle-wrapper {
        padding-bottom: 1.62rem;
        border-bottom: 1px solid var(--color-black);
    }

    .service {
        padding-block: clamp(1.5rem, calc(0.459rem + 2.38vw), 2.69rem);
        border-bottom: 1px solid var(--color-black);

        .service-item-hero {
            cursor: pointer;

            .title-wrapper {
                display: flex;
                // align-items: center;

                @include responsive.respond-to(sm) {
                    grid-column: col-2 / col-11;
                }
            }

            h4 {
                font-size: clamp(1.125rem, calc(0.797rem + 0.75vw), 1.5rem);
                font-weight: 400;
                line-height: 150%;
            }

            .service-toggle {
                width: clamp(1.539rem, calc(0.753rem + 1.796vw), 2.438rem);
                height: 2.4375rem;
                position: relative;
                margin-left: auto;

                &::before,
                &::after {
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-black);
                    position: absolute;
                    transition: transform var(--transition);
                }

                &::before {
                    transform: translate(-50%, -50%) rotate(90deg);
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(0);
                }
            }
        }

        .service-content {
            grid-template-rows: 0fr;
            display: grid;
            transition: grid-template-rows var(--transition);

            .inner {
                overflow: hidden;
            }

            @include responsive.respond-to(sm) {
                grid-column: 2 / -1;
            }
        }

        .content-wrapper {
            padding-top: clamp(1.625rem, calc(1.25rem + 1.88vw), 2.69rem);
        }

        &[data-open="true"] {
            .service-content {
                grid-template-rows: 1fr;
            }

            .service-toggle {
                &::before {
                    transform: translate(-50%, -50%) rotate(0);
                }

            }
        }
    }

    @include responsive.respond-to(sm) {
        padding-block: var(--section-spaceing);

        .intro {
            grid-column: col-1 / content;
        }
    }
}