@use "../01-grid/containers";
@use "../01-grid/responsive";
@use "../03-components/button";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: background-color var(--transition);
    color: var(--color-black);
    // I want the nav text to be kinda color doge or something the things below it
    // mix-blend-mode: difference;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 3rem;
        transition: padding-block var(--transition);
        --_nav-color: var(--color-primary);
    }

    .nav-logo {
        width: 30rem;
    }

    li {
        display: flex;
        height: min-content;

        &:not(.button_menu):not(.button_pacman) {
            a {
                position: relative;


                &::before {
                    content: '';
                    height: 1px;
                    background-color: var(--color-black);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    transition: width var(--transition);
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }

        &.button_menu {
            a {
                @extend %button;
            }
        }

        &.button_pacman {
            margin-left: -4rem;
            height: 100%;
            aspect-ratio: 1;

            a {
                @extend %btn_pacman;
            }
        }
    }

    // Desktop menu
    @include responsive.respond-from(lg) {
        // background-color: var(--color-white);

        .navigation-menu-wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .inner {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }

        .menu-toggle {
            display: none;
        }

        .menu {
            display: flex;
            gap: 7rem;
            align-items: center;

            .current-menu-item>a {
                color: var(--color-black);
            }
        }

        li {



            &.button_menu {
                // margin-left: 5.625rem;
            }
        }
    }


    // Mobile menu
    @include responsive.respond-to(lg) {
        .nav-logo {
            z-index: 100;
        }

        .menu-toggle {
            cursor: pointer;
            --_height: 3px;
            --_width: 1.68rem;
            --_center: calc(50% - var(--_height) / 2);
            // width: var(--_width);
            display: flex;
            align-items: center;
            gap: 1rem;

            .burger {
                height: 1.3rem;
                position: relative;
                width: var(--_width);

                .line {
                    width: var(--_width);
                    height: var(--_height);
                    background-color: var(--_nav-color);
                    transition: top 0.2s .2s, transform .2s, opacity .2s, background-color var(--transition);
                    position: absolute;

                    &:nth-child(1) {
                        top: 0;
                    }

                    &:nth-child(2) {
                        top: var(--_center);
                    }

                    &:nth-child(3) {
                        top: calc(100% - var(--_height));
                    }
                }
            }


            &[data-open=true] {
                .burger {
                    .line {
                        transition: top 0.2s, transform .2s .2s, opacity .2s .15s, background-color var(--transition);

                        &:nth-child(1) {
                            top: var(--_center);
                            transform: rotate(45deg);
                        }

                        &:nth-child(2) {
                            // top: var(--_center);
                            opacity: 0;
                        }

                        &:nth-child(3) {
                            top: var(--_center);
                            transform: rotate(-45deg);
                        }
                    }
                }
            }





            .navigation-menu-wrapper {
                @include containers.content-grid-setup();
                position: absolute;
                inset: 0;
                height: 100svh;
                background-color: var(--color-secondary);
                align-items: center;
                transition: transform .5s, opacity .5s;

                // // close state
                // opacity: 0;
                // transform: translatey(-100%);
                // pointer-events: none;
                opacity: 0;
                scale: 1.1;
                pointer-events: none;
                transform: scale(.95);




                .inner {
                    grid-column: col-3 / span 9;
                    display: flex;
                    justify-content: space-between;
                    gap: 3rem;
                    align-items: flex-end;
                }


                .menu {
                    display: flex;
                    flex-direction: column;
                    gap: clamp(1rem, calc(0.063rem + 3vw), 2.875rem);

                    li {
                        a {
                            color: var(--color-white);
                            font-size: clamp(2.5rem, calc(1.563rem + 3vw), 4.375rem);
                            line-height: 100%;
                            transition: color var(--transition), padding .2s;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-10%) scale(.7);
                                transform-origin: center;
                                width: 1rem;
                                height: 1rem;
                                background-color: var(--color-white);
                                opacity: 0;
                                transition: .2s;
                                z-index: 2;
                                border-radius: .1rem;
                            }

                            &:hover {
                                // color: var(--color-primary-light);
                                padding-left: 2rem;

                                &::before {
                                    opacity: 1;
                                    transform: translateY(-50%) scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



body.fixed__header {}