@use '../01-grid/responsive';
@use '../02-base/mixins';

body.page-template-pacman-template {
    header {
        // mix-blend-mode: normal;
        // color: var(--color-white);
        --_opacity: 0;
        // position: fixed;

        opacity: var(--_opacity);
        transition: opacity var(--transition);

        nav {
            // --_nav-color: var(--color-white);

            .button_pacman {
                &::before {
                    background-color: var(--color-black);
                }

                a {
                    background-color: var(--color-black);

                    &::before {
                        background-color: var(--color-brand-2);
                    }

                    &::after {
                        @include mixins.bg-mask('bike-normal');
                        // background-color: var(--color-brand-2);
                        // filter: brightness(0) saturate(100%) invert(95%) sepia(85%) saturate(447%) hue-rotate(324deg) brightness(104%) contrast(88%);
                    }
                }
            }
        }
    }

    #app {
        opacity: 0;
        transition: opacity var(--transition);
    }

    header .menu li.button_menu a {
        transition: color var(--transition);

        border-color: var(--color-white);

        .button__effect {
            background-color: var(--color-primary);
        }

        &:hover {
            color: var(--color-black);
            border-color: var(--color-white);
        }
    }

    .pacman-mobile {
        display: none;
    }

    #app {
        margin-top: 0;
    }
    @include responsive.respond-to(1500) {
    }

    @include responsive.respond-to(1000) {
        overflow-x: hidden;
        max-width: 100dvw;

        &::before {
            max-width: 100dvw !important;
            height: unset !important;
            aspect-ratio: 1/2;
        }

        #app .pacman {
            display: none;
        }

        #app .pacman-mobile {
            display: block;

            .modal {
                max-width: 100%;
                position: static;
                transform: none;
            }
        }
    }
}

body:has(#app) main {
    --_opacity: 0;

    &::before {
        transition: opacity var(--transition);
        opacity: var(--_opacity);
    }
}