@use '../02-base/type';


.block-single-hero{
    margin-top: var(--section-spaceing);
    margin-bottom: max(2.69rem, calc(var(--section-spaceing) * .5));
    
    h1{
        @extend .h5;
        line-height: 110%; 
        margin-bottom: .94rem;
    }
    
    .payoff{
        @extend .h3;
        line-height: 100%;
    }


}