@import "~mouse-follower/src/scss/index.scss";

.block-media-row {
    margin-block: 1.62rem;
    display: none;

    &.margin-top-large {
        margin-top: var(--section-spaceing);
    }

    &.margin-bottom-large {
        margin-bottom: var(--section-spaceing);
    }

    .media-row-wrapper {
        display: grid;
        gap: 1.62rem;
    }

    // Layout variations based on block style
    &.is-style-single .media-row-wrapper {
        grid-template-columns: 1fr;
    }

    &.is-style-two_equal .media-row-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    &.is-style-special_one .media-row-wrapper {
        display: grid;
        grid-template-columns: subgrid;

        img:nth-child(1) {
            grid-column: col-1 / col-4;
            grid-row: 1/1;
        }

        img:nth-child(2) {
            grid-column: col-1 / col-4;
        }

        img:nth-child(3) {
            grid-column: col-4 / col-10;
            grid-row: 1 / span 2;
        }

        img:nth-child(4) {
            grid-column: col-10 / content;
            grid-row: 1 / span 2;
        }
    }

    @media (max-width: 768px) {
        .media-row-wrapper {
            grid-template-columns: 1fr;
        }
    }
}