@use '../../src/scss/01-grid/responsive';
@import "~mouse-follower/src/scss/index.scss";

.block-media-row {
    margin-block: 1.62rem;
    display: none;

    &.margin-top-large {
        margin-top: var(--section-spaceing);
    }

    &.margin-bottom-large {
        margin-bottom: var(--section-spaceing);
    }

    .media-row-wrapper {
        display: grid;
        gap: 1.62rem;
    }

    img {
        // height: fit-content;
        height: 100%;
    }

    img,
    video,
    iframe{
        max-height: 90svh;
    }

    // Layout variations based on block style
    &.is-style-single .media-row-wrapper {
        grid-template-columns: 1fr;
    }

    &.is-style-two_equal .media-row-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    &.is-style-special_one .media-row-wrapper {
        display: grid;
        grid-template-columns: subgrid;

        @include responsive.respond-from(sm) {
            img:nth-child(1) {
                grid-column: col-1 / col-4;
                grid-row: 1/1;
            }

            img:nth-child(2) {
                grid-column: col-1 / col-4;
            }

            img:nth-child(3) {
                grid-column: col-4 / col-10;
                grid-row: 1 / span 2;
            }

            img:nth-child(4) {
                grid-column: col-10 / content;
                grid-row: 1 / span 2;
            }
        }

        @include responsive.respond-to(sm) {
            img {
                grid-column: col-1 / content;
                grid-row: unset;
                max-height: 20rem;
            }
        }
    }

    @include responsive.respond-to(sm) {
        .media-row-wrapper {
            grid-template-columns: 1fr;
        }
    }
}