@use "../02-base/mixins" as *;

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--font-title);
    line-height: 130%;
    font-weight: 600;
}

h1,
.h1 {
    font-size: clamp(4.25rem, calc(-1.25rem + 17vw), 10rem);
    line-height: 80%;
}

h2,
.h2 {
    font-size: clamp(4.25rem, calc(0.75rem + 8vw), 8.25rem);
}

h3,
.h3 {
    font-size: clamp(2.5rem, calc(0.859rem + 3.75vw), 4.375rem);
}

h4,
.h4 {
    font-size: clamp(2.5rem, calc(1.406rem + 2.5vw), 3.75rem);
    /* min: 40px, max: 60px */
    ;
}

h5,
.h5 {
    font-size: 1.5rem;
}

h6,
.h6 {
    font-size: 1.25rem;
}

b,
strong {
    font-family: var(--font-title);
    font-weight: 600;
}

em {
    font-style: italic;
}

a {
    text-decoration: none;
}

p,
a,
span,
li,
button,
input,
textarea,
select {
    font-size: clamp(1rem, calc(0.891rem + 0.25vw), 1.125rem);
    line-height: 150%;
}

.intro-side {
    // margin-top: clamp(2rem, calc(0.469rem + 3.5vw), 3.75rem);

    p,
    a,
    span,
    li {
        font-size: clamp(1.125rem, calc(0.906rem + 0.5vw), 1.375rem);
        font-weight: 600;
        line-height: 130%;
    }
}

.text-container {

    p,
    ul,
    ol,
    blockquote,
    .embed-container,
    .wp-caption {
        margin-bottom: 1rem;
        max-width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .intro {
        font-size: clamp(1.125rem, calc(0.906rem + 0.5vw), 1.375rem);
        font-weight: 600;
        line-height: 130%;
    }

    ul,
    ol {
        position: relative;
        list-style: none;

        li:not(.gfield) {
            padding-left: 1.25em;

            &::before {
                position: absolute;
                text-indent: -1.25em;
            }
        }
    }

    ul {
        li:not(.gfield) {
            &::before {
                content: '•';
            }
        }
    }

    ol {
        counter-reset: ol-counter;

        li {
            counter-increment: ol-counter;

            &::before {
                content: counter(ol-counter) '.';
            }
        }
    }

    a {
        &:not(.btn) {
            @extend %a-hover-new;
        }
    }

    blockquote {
        font-size: 2.5rem;
        line-height: 120%;
        font-family: var(--font-title);
        font-weight: 600;
    }

    iframe,
    video {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }


    h4 {
        font-size: clamp(1.125rem, calc(0.906rem + 0.5vw), 1.375rem);
        margin-bottom: .5rem;
    }
}