:root {
    --color-primary: var(--color-brand-5);
    --color-secondary: var(--color-brand-2);

    --color-white: #FFFFFF;
    --color-black: #000000;

    // Extra brand colors
    --color-brand-1: #FF8D74;
    --color-brand-2: #F0E7A8;
    --color-brand-3: #86D4EE;
    --color-brand-4: #81C88A;
    --color-brand-5: #D1C2FF;


    --text-color-primary: var(--color-black);


    --cubic: cubic-bezier(.4, .24, .56, .77);
    --transition-effect: var(--cubic);
    --transition-timeing: .2s;
    --transition: var(--transition-timeing) var(--transition-effect);



    --font-default: "neue-haas-grotesk-text", sans-serif;
    --font-title: "neue-haas-grotesk-display", sans-serif;



    --section-spaceing: clamp(3.125rem, calc(-2.344rem + 12.5vw), 9.375rem); /* min: 50px, max: 150px */


    --border-radius: 100px;
}