.card-post {


    .card-post__image {
        overflow: hidden;
        background-color: #F6F6F6;

        img {
            transition: .4s cubic-bezier(0.6, 0.03, 0.28, 0.98);
            width: 100%;
            height: 100%;
            transform: scale(1.01);
        }

        &:hover,
        &:focus-visible {
            img {
                transform: scale(1.05);
            }
        }
    }

    h3 {
        font-size: 1.25rem;
        line-height: 130%;
        margin-top: 1.25rem;
    }

    .categories {
        margin-top: .5rem;

        a {
            font-size: 0.875rem;
        }
    }
}