@use '../../src/scss/02-base/mixins' with ($image-base-path: '../../../src/images');
@use "../../src/scss/01-grid/responsive";

.block-hero {
    height: 72svh;
    align-items: center;

    .hero-wrapper {
        grid-auto-rows: min-content;
        margin-top: 3rem;
        position: relative;
        // column-gap: 1.5rem;
    }

    p {
        font-size: 1.125rem;
        line-height: 130%;
        max-width: 31.6875rem;
    }

    h1 {
        text-align: right;
        margin-top: 2.5625rem;
        max-width: 40.1875rem;
        text-wrap: balance;
    }


    .arrow-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: clamp(-15rem, calc(-38.125rem + 30vw), 0rem); // Hmm i like this one, it seems to line up pretty well :)
        pointer-events: none;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .hero__arrow {
        transform-style: preserve-3d;
        perspective: 1000px;
        width: calc(30svw - clamp(-15rem, calc(-38.125rem + 30vw), 0rem));
    }

    @include responsive.respond-to(1161) {
        .text-wrapper {
            order: 1;
            grid-column: col-4 / span 6;
        }

        .hero__arrow {
            width: unset;
        }

        .arrow-wrapper {
            grid-row: 1;
            margin: unset;
            grid-column: col-2 / span 6;
            transform: unset;

            position: absolute;
            top: -25%;


            svg {
                width: 100%;
                height: 100%;
            }
        }

        .title-wrapper {
            grid-row: 1;
        }

        h1 {
            margin-bottom: 1.78rem;
            margin-top: 0;
        }
    }

    @include responsive.respond-to(sm) {
        .title-wrapper {
            grid-column: col-3 / span 10;
        }

        .text-wrapper {
            grid-column: col-4 / span 9;
        }

        .arrow-wrapper {
            grid-column: col-1 / span 7;
            top: -30%;
            left: -10%;
        }
    }
}

.marquee {
    background-color: var(--color-primary);
    padding-block: 1.5rem;
    margin-bottom: 4.5rem;
    overflow: hidden;
    position: relative;
    width: 100%;

    display: flex;
    // gap: 3rem;

    p {
        white-space: nowrap;
        line-height: normal;
        position: relative;
        padding-right: 4.5rem;
        padding-left: 3rem;
        display: block;
        flex-shrink: 0;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-color: var(--color-black);
            width: 1.5rem;
            aspect-ratio: 1;
            @include mixins.mask('star');
        }
    }
}