@use "../02-base/mixins";

.mce-content-body {
    .button {
        text-decoration: none;

        &[data-mce-selected="inline-boundary"] {}
    }
}

%button {
    background-color: transparent;
    padding: 0.875rem 1.875rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-black);
    transition: background-color var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    &:hover,
    &:focus-visible {
        background-color: var(--color-primary);
    }
}


.btn {
    @extend %button;
}


%btn_pacman {
    position: relative;
    border-radius: 50%;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;



    &::after {
        content: '';
        width: 20px;
        height: 23px;
        @include mixins.bg-mask('pacman');
        transition: var(--transition);
        position: absolute;
        left: 1.28rem;
    }

    &::before {
        content: '';
        width: 11px;
        height: 11px;
        @include mixins.mask('star');
        background-color: var(--color-brand-2);
        position: absolute;
        left: 7.52px;
        transition: var(--transition);
    }

    &:hover,
    &:focus-visible {
        &::after {
            left: 50%;
            transform: translateX(-50%);
            width: 22.90px;
            height: 23.08px;
            @include mixins.bg-mask('pacman-closed');
        }

        &::before {
            left: 40%;
            transform: translateX(-50%) scale(.5);
            opacity: 0;

            transition: transform var(--transition), left var(--transition), opacity var(--transition) .1s;
        }
    }
}