.block-text {
    margin-block: 5rem;



    .h5 {
        line-height: 110%;
        margin-bottom: 1rem;
    }

    .h3 {
        line-height: 100%;
        margin-bottom: 3.75rem;
    }

    .btn {
        margin-top: 2.5rem;
    }

    &.background {
        background-color: var(--color-secondary);
        padding-block: 5rem;
        margin-block: 0;
    }

    &.margin-top-large {
        margin-top: var(--section-spaceing);
    }

    &.margin-bottom-large {
        margin-bottom: var(--section-spaceing);
    }

    .intro-side {

        // All text elements 700 font-weight
        p,
        a,
        span,
        li {
            font-weight: 700;
        }
    }
}