.block-logos {
    margin-block: 9.375rem;

    .logos-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 3.5rem;
        justify-content: space-between;
        padding-top: 4.5rem;
        border-top: 1px solid var(--color-black);

        .logo {
            height: 2rem;
            flex: 1 0 auto;
            display: flex;
            justify-content: center;
            min-width: 120px; /* Adjust based on your needs */
        }

        img {
            object-fit: contain;
            max-height: 100%;
        }
    }
}